<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Fashion2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- admin -->
  <servlet>
  	<servlet-name>AdminIndexController</servlet-name>
  	<servlet-class>controller.admins.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexController</servlet-name>
  	<url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminIndexUserController</servlet-name>
  	<servlet-class>controller.admins.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexUserController</servlet-name>
  	<url-pattern>/admin/user/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminAddUserController</servlet-name>
  	<servlet-class>controller.admins.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminAddUserController</servlet-name>
  	<url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminEditUserController</servlet-name>
  	<servlet-class>controller.admins.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminEditUserController</servlet-name>
  	<url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminDelUserController</servlet-name>
  	<servlet-class>controller.admins.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminDelUserController</servlet-name>
  	<url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminIndexProductController</servlet-name>
  	<servlet-class>controller.admins.AdminIndexProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexProductController</servlet-name>
  	<url-pattern>/admin/product/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminAddProductController</servlet-name>
  	<servlet-class>controller.admins.AdminAddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminAddProductController</servlet-name>
  	<url-pattern>/admin/product/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminEditProductController</servlet-name>
  	<servlet-class>controller.admins.AdminEditProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminEditProductController</servlet-name>
  	<url-pattern>/admin/product/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminDelProductController</servlet-name>
  	<servlet-class>controller.admins.AdminDelProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminDelProductController</servlet-name>
  	<url-pattern>/admin/product/del</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>controller.auth.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  
  
  <!-- publics -->
  <servlet>
  	<servlet-name>PublicIndexController</servlet-name>
  	<servlet-class>controller.publics.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicIndexController</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PublicCatController</servlet-name>
  	<servlet-class>controller.publics.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicCatController</servlet-name>
  	<url-pattern>/cat</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HandleError</servlet-name>
  	<servlet-class>controller.publics.HandleError</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HandleError</servlet-name>
  	<url-pattern>/404</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/404</location>
  </error-page>
  
  <servlet>
  	<servlet-name>PublicDetailController</servlet-name>
  	<servlet-class>controller.publics.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicDetailController</servlet-name>
  	<url-pattern>/detail</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>